.form {
  max-width: 70%;
  position: relative;

  @media (min-width: 768px) {
    max-width: 65%;
  }
}

.input {
  height: 1.75rem;
  width: 100%;
  padding: 0 0.5rem;

  font-size: 1rem;
  font-family: var(--poppins);
  font-weight: var(--medium);

  border-radius: 0.5rem;
  border: 1px solid transparent;
  outline: transparent;

  @media (min-width: 768px) {
    height: 2.25rem;
    font-size: 1.25rem;
    padding: 0 1rem;
    caret-color: var(--turquiouse);
  }
}

.search__button {
  position: absolute;
  right: 4%;
  top: 50%;
  transform: translateY(-50%);

  display: flex;
  align-items: center;

  font-size: 1.25rem;
  font-weight: var(--medium);
  color: rgb(19, 19, 19);

  background-color: transparent;
  border: none;
  outline: transparent;
  cursor: pointer;

  @media (min-width: 768px) {
    right: 2%;
    font-size: 1.5rem;
  }
}
