.form {
  max-width: 70%;
  position: relative;
}

.input {
  height: 1.75rem;
  width: 100%;
  padding: 0 0.5rem;

  font-size: 1rem;
  font-family: var(--poppins);
  font-weight: var(--medium);

  border-radius: 0.5rem;
  border: 1px solid transparent;
  outline: transparent;
}

.search__button {
  position: absolute;
  right: 4%;
  top: 50%;
  transform: translateY(-50%);

  display: flex;
  align-items: center;

  font-size: 1.25rem;
  font-weight: var(--medium);
  color: rgb(19, 19, 19);

  background-color: transparent;
  border: none;
  outline: transparent;
}
