.home {
  position: relative;
  padding: 0 1rem;
  overflow: hidden;

  @media (min-width: 768px) {
    padding: 0 3rem;
  }
}

.section {
  @media (min-width: 768px) {
    margin-left: 18rem;
    padding: 4rem 3rem;
  }
}
