.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  border-bottom: 1px solid #e0e0e0;
}

.header__logo {
  font-size: 2rem;
  font-weight: 700;
  color: var(--turquiouse);
}

.header__menu {
  color: var(--turquiouse);
  font-size: 2rem;
}
