.subreddit {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 0;
}

.subreddit__image {
  width: 2rem;
  height: 2rem;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }
}
