.section {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  word-wrap: break-word;
  margin-top: 1.5rem;
  color: #b2b5bc;

  h2 {
    color: white;
  }

  @media (min-width: 768px) {
    max-width: 55%;
    margin-left: auto;
    margin-right: auto;

    h2 {
      font-size: 2rem;
    }
  }
}

.post_image {
  width: 100%;
  border-radius: 0.5rem;

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 0.5rem;
  }

  @media (min-width: 768px) {
    min-height: 25rem;
    max-height: 40rem;
  }
}
