.post_article {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;

  word-wrap: break-word;

  @media (min-width: 768px) {
    gap: 0.5rem;
  }
}

.post__figure {
  position: relative;
  width: 100%;
  height: 100%;

  border-radius: 0.5rem;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;

    border-radius: 0.5rem;
    object-fit: cover;
    z-index: 1;
  }

  @media (min-width: 768px) {
    max-height: 30rem;
    display: flex;
    justify-content: center;

    width: 100%;
    height: 100%;

    background-size: cover;
    background-position: center;
    backdrop-filter: blur(50px); /* Adjust the blur intensity */
    background-color: rgba(74, 74, 74, 0.3);
    z-index: 0;

    img {
      width: auto;
      min-height: 15rem;
      max-height: 25rem;
      object-fit: contain;
    }
  }
}

.post__stats {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 0;

  font-size: 0.875rem;

  div {
    display: flex;
    align-items: center;
    gap: 0.25rem;

    background-color: rgb(41, 40, 40);
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem;
  }

  & > p {
    margin-left: auto;
    color: purple;
  }
}

.selfText {
  display: -webkit-box;
  line-clamp: 5;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 8rem;
}
